<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UniversalSearchCriteria.Properties.Settings.DbConnection"
            connectionString="Data Source=DESKTOP-2NBNJT4;Initial Catalog=UniversalSearchCriteria_PS_IvanLeonov_43_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>